# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Azat_everythin\Study\MY_GITHUB\Own_Projects_Learning\HR_cases\Yandex\data_analyst_Eda\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
